@page
@model Biblio.Pages.biblio1Model
@{
    ViewData["Title"] = "Ajouter";

}
<h1>@ViewData["Title"]</h1>

<form method="post">
    @* Attention: fait en sorte que name est suivi du nom de parametre qui convient (attention aux erreure d'ortographes) *@
    @* Pas besoin d'ajouter Id car ça ce fait automatiquement *@
    <input type="text" name="Titre" placeholder="Titre..."/>
    <input type="text" name="Auteur" placeholder="Auteur..."/>
    <input type="date" name="date_Publication"/>

    <button type="submit">Ajouter</button>

</form>

@* le tableau affichant les éléments de la base de données *@
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var LIVRE in Model.Livres){
            <tr>
                <td>@LIVRE.Id</td>
                <td>@LIVRE.Titre</td>
                <td>@LIVRE.Auteur</td>
                <td>@LIVRE.Date_Publication</td>
            </tr>
        }
    </tbody>

</table>

@* affiche une pop-up pour confirmer l'ajout d'un livre ou afficer une erreure *@
@if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }
</script>