@page
@model Biblio.Pages.biblio1Model
@{
    ViewData["Title"] = "Ajouter";

}
<h1>@ViewData["Title"]</h1>

<form method="post">
    @* Attention: fait en sorte que name est suivi du nom de parametre qui convient (attention aux erreure d'ortographes) *@
    @* Pas besoin d'ajouter Id car ça ce fait automatiquement *@
    <input type="text" name="Titre" placeholder="Titre..."/>
    <input type="text" name="Auteur" placeholder="Auteur..."/>
    <input type="date" name="date_Publication" id="date_max" min="1455-01-01/>

    <button type="submit">Ajouter</button>

</form>

@* le tableau affichant les éléments de la base de données *@
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var LIVRE in Model.Livres){
            <tr>
                <td>@LIVRE.Id</td>
                <td>@LIVRE.Titre</td>
                <td>@LIVRE.Auteur</td>
                <td>@LIVRE.Date_Publication</td>
            </tr>
        }
    </tbody>

</table>

@* affiche une pop-up pour confirmer l'ajout d'un livre ou afficer une erreure *@
@if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }

@* Pour faire en sorte que la date max qui peut être saisit soie aujourd'hui *@
<script>
        const d = new Date();
        var day= d.getDate();
        var day_tommorow= d.getDate()+1;
        if (day<10){
            day="0"+day;
        }
        if (day_tommorow<10){
            day_tommorow="0"+day_tommorow;
        }
        var mois=d.getMonth()+1;
        if (mois<10){
            mois="0"+mois;
        }
        var annee=d.getFullYear();
        var today=annee+"-"+mois+"-"+day;
        var tommorow=annee+"-"+mois+"-"+day_tommorow;
        document.getElementById("date_max").max = today;
        @* document.getElementById("date_max").min = tommorow; *@
   
    </script>