@page
@model Biblio.Pages.biblio1Model
@{
    ViewData["Title"] = "La bibliothèque";

}
<h1>@ViewData["Title"]</h1>

<form method="post">
    @* Attention: fait en sorte que name est suivi du nom de parametre qui convient (attention aux erreure d'ortographes) *@
    <input type="number" name="Id"/>
    <input type="text" name="Titre"/>
    <input type="text" name="Auteur"/>
    <input type="text" name="date_Publication"/>

    <button type="submit">Ajouter</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var LIVRE in Model.Livres){
            <tr>
                <td>@LIVRE.Id</td>
                <td>@LIVRE.Titre</td>
                <td>@LIVRE.Auteur</td>
                <td>@LIVRE.Date_Publication</td>
            </tr>
        }
    </tbody>

</table>


    @* @foreach (var LIVRE in Model.Livres)
    {
        <div class="col-3 p-1">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@LIVRE.Titre</h5>
                    <p class="card-text">@LIVRE.Auteur</p>
                    <div class="d-flex justify-content-between">
                    <span class="card-text">@LIVRE.Date_Publication</span>
                    <a class="btn btn-danger btn-sm" asp-page="/Order" asp-route-id="@LIVRE.Id">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    } *@