@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/site.css'>

    <style>
       html body{
        background-image: url('/wwwroot/photo/vegeta.jpg') no-repeat center center fixed !important; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
    </style>
    

</head>

<body>
    <h1 class="fw-light"><Label>la bibliothèqe</Label></h1>
<div class="row">
    @foreach (var LIVRE in Model.Livres)
    {
        <div class="col-3 p-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@LIVRE.Titre</h5>
                    <p class="card-text">@LIVRE.Auteur</p>
                    <div class="contenu">
                        <span class="card-text">@LIVRE.Date_Publication</span>
                        <br/>
                        @* crée un bouton qui renvoie à la page update avec l'id  *@
                        <a class="btn btn-danger btn-sm" asp-page="/update" asp-route-id="@LIVRE.Id">Modifier</a>
                        
                        <a class="btn btn-danger btn-sm" asp-page="/Delete" asp-route-id="@LIVRE.Id">Supprimer</a>
                        @* <form method="post"><button type="submit" class="btn btn-danger btn-sm" asp-route-itemid="@LIVRE.Id" > Supprimer</button></form> *@
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }
</body>
</html>
