@page "{id:int}"
@model Biblio.Pages.updateModel
@{
    ViewData["Title"] = "Update";
}
<head>
    <meta charset="utf-8"/>
</head>
<h1>Modifier</h1>

@* <h1>@TempData["Message"]</h1> *@

@* la ligne suivante ne marche pas *@
<h2>@Model.Message</h2>

<div>
    <form method="post">
    @* Attention: fait en sorte que name est suivi du nom de parametre qui convient (attention aux erreure d'ortographes) *@
    <input type="text" name="Titre" value="@Model.Livre.Titre"/>
    <input type="text" name="Auteur" value="@Model.Livre.Auteur"/>
    <input type="date" name="date_Publication" value="@Model.Livre.Date_Publication" id="date_max" min="1455-01-01"/>
    <br/>
    <button type="submit" class="btn btn-danger btn-sm">Mettre à jour</button>
   
    </form>
    @* Affiche une pop-up quand une modification est effectuée *@
    @* le if est utilisé pour éviter que une pop-up vide s'affiche quand on ouvre la page *@
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }
@* Pour faire en sorte que la date max qui peut être saisit soie aujourd'hui *@
<script>
        const d = new Date();
        var day= d.getDate();
        var day_tommorow= d.getDate()+1;
        if (day<10){
            day="0"+day;
        }
        if (day_tommorow<10){
            day_tommorow="0"+day_tommorow;
        }
        var mois=d.getMonth()+1;
        if (mois<10){
            mois="0"+mois;
        }
        var annee=d.getFullYear();
        var today=annee+"-"+mois+"-"+day;
        var tommorow=annee+"-"+mois+"-"+day_tommorow;
        document.getElementById("date_max").max = today;
        @* document.getElementById("date_max").min = tommorow; *@
   
    </script>
</div>